<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <H1>注册</H1>
    <form action="/reg" method="post">
        <label>用户名</label><br />
        <input name="username" type="text"><br />
        <label>密码</label><br />
        <input name="password" type="text"><br />
        <button type="submit">注册</button>
    </form>


    <!-- <form action="/reg" method="post">
        <label>事项</label><br>
        <input type="text" name="username"><br>
        <label>金额</label><br>
        <input type="text" name="password"><br>

        <hr>
        <button type="submit">注册</button>
    </form> -->

</body>

</html>